@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 900px; */
  border-bottom: 1px solid rgb(173, 152, 152);
}

.navbar h1{
  font-size: 20px;
}

.navbar .links{
  display: flex;
  align-items: center;
}

.navbar .links a{
  margin: 2px 6px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar .links a:hover{
  color: #686767;
}

.signup-link{
  background-color: #ccb761;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.signup-link:hover{
  background-color: #b6a049;
}

.home{
  padding: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}

.home h2{
  font-size: 22px;
  margin: 4px auto;
  padding: 8px;
}
