@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  /* background-color: rgb(165, 142, 142); */
  border-bottom: 1px solid rgb(173, 152, 152);
}
.navbar h1{
  font-size: 20px;
}
.navbar div a{
  margin: 2px 6px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
}
.navbar div a:hover{
  color: #b27575;
}
.signup{
  background-color: #ccb761;
  border-radius: 4px;
  transition: background-color 0.8s ease;
}
.signup:hover{
  opacity: 0.8;
}
.home{
  padding: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}
.home h2{
  font-size: 22px;
  margin: 4px auto;
  padding: 8px;
}