@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: white;
  background-color: #3c3c3c;
}

.navbar{
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 900px; */
  border-bottom: 1px solid rgb(123, 123, 123);
  background-color: #4e4e4e;
}

.links a{
  margin: 2px 4px;
  padding: 8px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease,color ;
}

.links a:hover{
  color: #e8e8e8;
  background-color: #6b6b6b;
}

.elements{
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.elements:hover{
  transform: scale(1.02);
}

.home{
  padding: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}

.home h2{
  font-size: 22px;
  margin: 4px auto;
  padding: 8px;
}
