.login{
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  border-radius: 6px;
  border: 1px solid #5a3e3e;
  max-width: 600px;
}
.login input{
  margin: 10px 0px;
  padding: 8px;
  min-height: 23px;
  border-radius: 4px;
  border: 1px solid #947e7e;
}
.login input:focus {
  outline: none;
  border-color: #5a3e3e;
}
.login input::placeholder {
  color: #999;
}
.loginButton{
  margin: 10px auto;
  min-width: 100px;
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #ccb761;
  transition: all .2s ease;
}
.loginButton:hover{
  background-color: #b6a049;
}

.loginButton:active{
  color: aliceblue;
  background-color: #ababab;
}
.login p{
  margin: auto;
  font-size: 16px;
  
}