.goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
}
.goals a{
  text-decoration: none;

}
.goal-card {
  display: block;
  margin: 4px;
  padding: 80px;
  font-size: 20px;
  min-height: 90px;
  min-width: 90px;
  border-radius: 8px;
  border: 1px solid #eeeaea;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.goal-card:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
