# Database Configuration
# DB_URL=jdbc:mysql://localhost:3306/learnflow
# DB_USERNAME=root
# DB_PASSWORD=manager

# Create db first before running the application:
# CREATE DATABASE learnflow;

# Run the following command to set the environment variables in your terminal before starting the application:
export DB_URL=jdbc:mysql://localhost:3306/learnflow
export DB_USERNAME=root
export DB_PASSWORD=manager

# Cloudinary Configuration
# Get these from https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
