.dashboard{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  
}
.dashboard-div-1{
  display: flex;

}

.myProgress{
  margin: 16px 6px;
  padding: 10px;
  border-radius: 8px;
  background-color: #4e4e4e;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
h3, h4{
  background-color: #4e4e4e;
}
.activeCourses{
  /* margin: 16px 6px; */
  padding: 16px 6px;
  display: flex;
  flex-direction: column;
  background-color: #4e4e4e;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  
}

.active, .active-heading{
  display: flex;
  background-color: inherit;
}
.active-heading{
  font-size: large;
  font-weight: 500;
  padding-left: 10px;
}
.courses{
  margin: 16px 10px;
  padding: 16px 20px;
  height: 100px;
  border: 1px solid rgb(119, 117, 117);
  border-radius: 8px;
  background-color: inherit;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition:transform 0.3s ease;
}
.courses:hover{
  transform: scale(1.025);
}