.sidebar{
  position: fixed;
  left: 0px;
  top: 66px;
  bottom: 0px;
  padding: 8px;
  border-right: 1px solid white;
}
.sidebar div{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sidebar a{
  margin: 6px 20px;
  padding: 10px;
  text-decoration: none;
  border-radius: 18px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(119, 117, 117);
  transition:transform 0.3s ease;
}
.sidebar a:hover{
  transform: scale(1.02);
  background-color: #4e4e4e;
}