.sidebar{
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-right: 1px solid white;
  height: 100%;
}
.sidebar a{
  margin: 6px 20px;
  padding: 10px;
  text-decoration: none;
  border-radius: 18px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(119, 117, 117);
  transition:transform 0.3s ease;
}
.sidebar a:hover{
  transform: scale(1.02);
  background-color: #4e4e4e;
}

.app-layout {
  display: grid;
  position: fixed;
  top: 66px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr; 
}

.main-content {
  padding: 20px;
  overflow-y: auto;
}
